<div class="flex-cent background-strong-grey p-06 radius-03 mt-30">
	<h3 class="text-white">_Version française</h3>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :short_description, "_courte description *", class:"strong p-tall-rp-p mb-05" %>
	<%= ff.text_field :short_description, class:"w-max radius-05", placeholder:". . ." %>

    <% if flash["errors"] && flash["errors"]["bodies.short_description"] %>
    	<span class="text-red p-small"><%= flash["errors"]["bodies.short_description"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :long_description, "_longue description *", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :long_description, class:"w-max radius-05", placeholder:". . ." %>
	</div>

    <% if flash["errors"] && flash["errors"]["bodies.long_description"] %>
    	<span class="text-red p-small"><%= flash["errors"]["bodies.long_description"].join(', ')  %></span>
    <% end -%>
</div>	

<div class="flex-col-start mt-30">
	<%= ff.label :question_one, "_À quelle problématique a répondu votre projet et quelle en était la cible ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_one, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>	

<div class="flex-col-start mt-30">
	<%= ff.label :question_two, "_Quelles ont été les solutions mises en place ? (Descriptif du projet + visuels) ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_two, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :question_three, "_Quelle a été la méthodologie pour mettre cela en place ? Et quelles ont été les parties prenantes ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_three, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :question_four, "_Quel a été l’impact, les résultats du projet ? Un verbatim utilisateur ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_four, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :question_five, "_Quels ont été les principaux challenges ? Et comment les avez-vous surmontés ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_five, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :question_six, "_Quel est votre retour d’expérience, les conseils que vous donneriez pour des projets similaires ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_six, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>

<div class="flex-col-start mt-30">
	<%= ff.label :question_seven, "_Comment ce projet a changé votre approche sur le droit ? sur le Legal design ?", class:"strong p-tall-rp-p mb-05" %>

	<div class="p-10 w-max background-white">
		<%= ff.rich_text_area :question_seven, class:"w-max radius-05", placeholder:". . ." %>
	</div>
</div>	