<section class="h-max">

	<h1 class="flex-cent m-auto mb-50">Admin Dashboard | Analytics</h1>

	<div class="flex-row-wrap-cent">
		
		<div class="p-50-rp-25">
			<div class="background-white soft-ml-box-shadow flex-col p-25" style="width:250px;height:250px;">
				<p class="m-0"><span class="mr-05"><%= svg('ubisoft_user_black_25') %></span> Visitors</p>
				<span class="text-cent text-blue h-max flex-cent" style="font-size:4rem"><%= @agents.count %></span>
			</div>
		</div>

		<div class="p-50-rp-25">
			<div class="background-white soft-ml-box-shadow flex-col p-25" style="width:250px;height:250px;">
				<p class="m-0"><span class="mr-05"><%= svg('ubisoft_localization_25') %></span> Top location</p>
				<span class="text-cent text-blue h-max flex-cent" style="font-size:2rem"><%= @top_location %></span>
			</div>
		</div>

		<div class="p-50-rp-25">
			<div class="background-white soft-ml-box-shadow flex-col p-25" style="width:250px;height:250px;">
				<p class="m-0"><span class="mr-05"><%= svg('ubisoft_localization_25') %></span> Top city</p>
				<span class="text-cent text-blue h-max flex-cent" style="font-size:2rem"><%= @top_city %></span>
			</div>
		</div>

		<div class="p-50-rp-25">
			<div class="background-white soft-ml-box-shadow flex-col p-25" style="width:250px;height:250px;">
				<p class="m-0"><span class="mr-05"><%= svg('ubisoft_print_25') %></span> Top printable project</p>
				<span class="text-cent text-blue h-max flex-cent" style="font-size:2rem"><%= @top_printable %></span>
			</div>
		</div>

	</div>

	<!-- <h1>Printables</h1> -->

	<%#= render "admin/partials/tables/printables" %>

	<!-- <div class="mt-50"></div> -->

	<!-- <h1>Locations</h1> -->

	<%#= render "admin/partials/tables/agents_countries" %>

	<!-- <h1>Cities</h1> -->

	<%#= render "admin/partials/tables/agents_cities" %>
	
	<div class="flex-end">
		<%= link_to 'Download as Excel', admin_analytics_excel_path(format: :xlsx, slug:@slug), class: "radius-05 excel-btn p-small" %>
	</div>

</section>