<section class="h-max">

	<h1 class="flex-cent m-auto mb-50">Admin Dashboard</h1>

	<h1><%= "Requester".pluralize(@requesters_count) %> (<%= @requesters_count %>)</h1>

	<%= form_tag admin_update_requesters_path, method: :patch, class:"scrollable-x" do %>
	  <table class="text-cent">
	    <thead class="background-strong-grey">
	     	<tr class="text-white">
	     		<th>Date</th>
	        <th>Name</th>
	        <th>Email</th>
	        <th>Country</th>
	        <th>Job title</th>
	        <th>Reason</th>
	        <th>Message</th>
	        <th>Contacted</th>
	      </tr>
	    </thead>

	    <tbody>
	      <% @requesters.each do |requester| %>
		      <tr class="p-small border-top light-grey">
		        <td>
		        	<%= requester.created_at.strftime("%d") %> - <%= requester.created_at.strftime("%b") %> - <%= requester.created_at.strftime("%Y") %>
						</td>
						<td><%= requester.first_name %> <%= requester.last_name %></td>
						<td><%= requester.email %></td>
						<td><%= requester.country %></td>
						<td><%= requester.job_title %></td>
						<td><%= requester.reason %></td>
		        <td class="max-w-300"><%= requester.message %></td>
		        <td>
		          <%= check_box_tag "contacted[]", requester.contacted ? true : requester.id, false, id:requester.id, class:"square-ux-checkbox", disabled:requester.contacted ? true : false, checked:requester.contacted ? true : false %>
      				<%= label_tag nil, nil, for:requester.id, class:"orange" %>
      			</td>
		      </tr>
	      <% end %>
	    </tbody>
	  </table>

    <% if !@requesters.empty? %>
      <nav class="custom-pagination">
        <%== pagy_nav(@pagy_requesters) %>

        <div class="relative">
          <i class="fas fa-sort-down text-strong-grey index-1"></i>

		      <select name="pagy_items" id="items_requesters" class="ml-10 radius-03 relative">
		        <option value="<%= admin_dashboard_path(items_requesters:10) %>" <%= params[:items_requesters] == '10' ? 'selected' : ''%>>10</option>
		        <option value="<%= admin_dashboard_path(items_requesters:20) %>" <%= params[:items_requesters] == '20' ? 'selected' : ''%>>20</option>
		        <option value="<%= admin_dashboard_path(items_requesters:30) %>" <%= params[:items_requesters] == '30' ? 'selected' : ''%>>30</option>
		        <option value="<%= admin_dashboard_path(items_requesters:40) %>" <%= params[:items_requesters] == '40' ? 'selected' : ''%>>40</option>
		        <option value="<%= admin_dashboard_path(items_requesters:50) %>" <%= params[:items_requesters] == '50' ? 'selected' : ''%>>50</option>
		      </select>
        </div>

        <span class="ml-05 text-strong-grey">items per page</span>
      </nav>

      <div class="flex-end mt-05 p-small">
      	<%= link_to 'Download as Excel', admin_requesters_index_path(format: :xlsx), class: "radius-05 excel-btn mr-05" %>
      	<%= button_tag "update selection", class:"main-btn radius-05 pt-14" %>
      </div>
    <% end %>

    <% if @requesters.empty? %>

      <div class="flex-cent m-auto mt-50">
        <p class="mt-10">nothing to display. . .</p>
      </div>

    <% end %>
	<% end %>

</section>