<section class="h-vh">

	<h1 class="flex-cent m-auto mb-50">Admin Dashboard</h1>

	<div class="flex-row-wrap-cent">
		
		<div class="p-50-rp-25">
			<div class="background-white soft-ml-box-shadow flex-col-ard-cent p-25" style="width:250px;height:250px;">
				<%= svg('ubisoft_group') %>
				<%= link_to "requesters", admin_requesters_path(slug:@slug), class:"main-btn" %>
			</div>
		</div>

		<% if @authorize_admins.include?(current_user.email) %>
			<div class="p-50-rp-25">
				<div class="background-white soft-ml-box-shadow flex-col-ard-cent p-25" style="width:250px;height:250px;">
					<%= svg('ubisoft_rocket') %>
					<%= link_to "projects", admin_projects_path(slug:@slug), class:"main-btn" %>
				</div>
			</div>

			<div class="p-50-rp-25">
				<div class="background-white soft-ml-box-shadow flex-col-ard-cent p-25" style="width:250px;height:250px;">
					<%= svg('ubisoft_metrics') %>
					<%= link_to "analytics", admin_analytics_path(slug:@slug), class:"main-btn" %>
				</div>
			</div>
		<% end %>

	</div>

</section>