<% if @project.bodies.empty? %>

	<!-- English version -->

	<%= f.fields_for :bodies, @project.bodies.build do |ff| %>

		<%= ff.hidden_field :version, value: "EN" %>

		<h3 class="background-red p-06 radius-03 w-content mt-30">_English version</h3>

		<div class="flex-col-start mt-30">
		 	<%= ff.label :short_description, "_short description *", class:"strong p-tall-rp-p mb-05" %>
		   	<%= ff.text_field :short_description, class:"w-max radius-05", placeholder:". . ." %>
		</div>	

		<div class="flex-col-start mt-30">
		 	<%= ff.label :content, "_content *", class:"strong p-tall-rp-p mb-05" %>

		   	<div class="p-10 w-max background-white">
		   		<%= ff.rich_text_area :content, class:"w-max radius-05", placeholder:". . ." %>
		   	</div>
		</div>	
		
	<% end -%>

	<!-- French version -->

	<%= f.fields_for :bodies, @project.bodies.build do |ff| %>	

		<%= ff.hidden_field :version, value: "FR" %>

		<h3 class="background-blue p-06 radius-03 w-content mt-30">_Version française</h3>

		<div class="flex-col-start mt-30">
		 	<%= ff.label :short_description, "_courte description *", class:"strong p-tall-rp-p mb-05" %>
		   	<%= ff.text_field :short_description, class:"w-max radius-05", placeholder:". . ." %>
		</div>	

		<div class="flex-col-start mt-30">
		 	<%= ff.label :content, "_contenu *", class:"strong p-tall-rp-p mb-05" %>

		   	<div class="p-10 w-max background-white">
		   		<%= ff.rich_text_area :content, class:"w-max radius-05", placeholder:". . ." %>
		   	</div>
		</div>	

	<% end -%>

<% else %>

	<%= f.fields_for :bodies do |ff| %>

		<% if ff.object.version == "EN" %>

			<h3 class="background-red p-06 radius-03 w-content mt-30">_English version</h3>

			<div class="flex-col-start mt-30">
			 	<%= ff.label :short_description, "_short description *", class:"strong p-tall-rp-p mb-05" %>
			   	<%= ff.text_field :short_description, class:"w-max radius-05", placeholder:". . ." %>
			</div>	

			<div class="flex-col-start mt-30">
			 	<%= ff.label :content, "_content *", class:"strong p-tall-rp-p mb-05" %>

			   	<div class="p-10 w-max background-white">
			   		<%= ff.rich_text_area :content, class:"w-max radius-05", placeholder:". . ." %>
			   	</div>
			</div>

		<% else %>

			<h3 class="background-blue p-06 radius-03 w-content mt-30">_Version française</h3>

			<div class="flex-col-start mt-30">
			 	<%= ff.label :short_description, "_courte description *", class:"strong p-tall-rp-p mb-05" %>
			   	<%= ff.text_field :short_description, class:"w-max radius-05", placeholder:". . ." %>
			</div>	

			<div class="flex-col-start mt-30">
			 	<%= ff.label :content, "_contenu *", class:"strong p-tall-rp-p mb-05" %>

			   	<div class="p-10 w-max background-white">
			   		<%= ff.rich_text_area :content, class:"w-max radius-05", placeholder:". . ." %>
			   	</div>
			</div>

		<% end -%>
		
	<% end -%>

<% end -%>
