<div class="flex-col-start">
    <%= f.label :title, "_Title *", class:"strong p-tall-rp-p mb-05" %>
    <%= f.text_field :title, class:"w-max radius-05", placeholder:". . ." %>
     
    <% if flash["errors"] && flash["errors"]["title"] %>
      <span class="text-red p-small"><%= flash["errors"]["title"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
    <%= f.label :company, "_Company *", class:"strong p-tall-rp-p mb-05" %>
    <%= f.text_field :company, class:"w-max radius-05", placeholder:". . ." %>
     
    <% if flash["errors"] && flash["errors"]["company"] %>
      <span class="text-red p-small"><%= flash["errors"]["company"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
    <%= f.label :actor, "_Actor(s) *", class:"strong p-tall-rp-p mb-05" %>
    <%= f.text_field :actor, class:"w-max radius-05", placeholder:". . ." %>
     
    <% if flash["errors"] && flash["errors"]["actor"] %>
      <span class="text-red p-small"><%= flash["errors"]["actor"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
    <%= f.label :contact, "_Contact *", class:"strong p-tall-rp-p mb-05" %>
    <%= f.text_field :contact, class:"w-max radius-05", placeholder:". . ." %>
     
    <% if flash["errors"] && flash["errors"]["contact"] %>
      <span class="text-red p-small"><%= flash["errors"]["contact"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
  <%= f.label :website, "_Website", class:"strong p-tall-rp-p mb-05" %>
  <%= f.text_field :website, class:"w-max radius-05", placeholder:". . ." %>
</div>

<div class="flex-col-start mt-30">
	<%= f.label :countries, "_Countries *", class:"strong p-tall-rp-p mb-05" %>
	
	<div class="relative w-max">
		<%= f.select :countries, Country.pluck(:name).sort,
			{ :prompt => "Please select"},
			{ :multiple => true, "data-multiple" => "true", class:"selectize grey" } %>

		<i class="fas fa-chevron-down absolute absolute top-right"></i>

        <div class="project_countries" data-value="<%= @project.countries %>"></div>
	</div>

    <% if flash["errors"] && flash["errors"]["countries"] %>
      <span class="text-red p-small"><%= flash["errors"]["countries"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
	<%= f.label :stakes, "_Stakes *", class:"strong p-tall-rp-p mb-05" %>
	
	<div class="relative w-max">
		<%= f.select :stakes, Stake.pluck(:name).sort,
			{ :prompt => "Please select"},
			{ :multiple => true, "data-multiple" => "true", class:"selectize grey" } %>

		<i class="fas fa-chevron-down absolute absolute top-right"></i>

        <div class="project_stakes" data-value="<%= @project.stakes %>"></div>
	</div>

    <% if flash["errors"] && flash["errors"]["stakes"] %>
      <span class="text-red p-small"><%= flash["errors"]["stakes"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
    <%= f.label :media, "_Media *", class:"strong p-tall-rp-p mb-05" %>
    
    <div class="relative w-max">
        <%= f.select :media, Media.pluck(:name).sort,
            { :prompt => "Please select"},
            { class:"selectize grey" } %>

        <i class="fas fa-chevron-down absolute absolute top-right"></i>

        <div class="project_media" data-value="<%= @project.media %>"></div>
    </div>

    <% if flash["errors"] && flash["errors"]["media"] %>
      <span class="text-red p-small"><%= flash["errors"]["media"].join(', ')  %></span>
    <% end -%>
</div>

<div class="flex-col-start mt-30">
    <%= f.label :imagery, "_Imagery", class:"strong p-tall-rp-p mb-05" %>
    <%= f.file_field :imagery %>

    <% if @project.imagery.attached? %>
      <%=sanitize cl_image_tag @project.imagery.key, class:"mt-10", height:200, width:200 %>
      <span class="pad-orange mt-10"><%= @project.imagery.filename %></span>
    <% end %>
</div>

<div class="flex-col-start mt-30">
  <%= f.label :licence, "_Licence", class:"strong p-tall-rp-p mb-05" %>
  <%= f.text_field :licence, class:"w-max radius-05", placeholder:". . ." %>
</div>

<div class="flex-col-start mt-30">
  <%= f.label :copyright, "_Copyright", class:"strong p-tall-rp-p mb-05" %>
  <%= f.text_field :copyright, class:"w-max radius-05", placeholder:". . ." %>
</div>

<div class="flex-col-start mt-30">
  <%= f.label :credits, "_Credits", class:"strong p-tall-rp-p mb-05" %>
  <%= f.text_field :credits, class:"w-max radius-05", placeholder:". . ." %>
</div>