<ul class="no-padding unstyle-list" id="user_notifications">

  <!-- if notification nil -->

  <%# if Notification.user(current_user.id).empty? %>

    <li>NOTHING TO DISPLAY</li>

  <%# else %>

    <!-- if notification is not nil -->

    <!-- <li class="p-tall strong">earlier</li> -->

    <%# Notification.user(current_user.id).recent.limit(25).each_with_index do |n,index| %>

      <!-- if notification is unread -->

      <%# if !n.read %>

<!--         <li class="notification">
          <div class="flex-col-start w-max">

            <%# if n.actor_id == 0 %>
              <a rel="nofollow" data-method="patch" href="/notifications/<%= n.link %>/<%= n.id %>?read=true">
                <%#= User.find(n.recipient_id).first_name %>, <%= n.action.html_safe %>
              </a>
            <%# else %>
              <a rel="nofollow" data-method="patch" href="/notifications/<%= n.link %>/<%= n.id %>?read=true">
                <%#= User.find(n.actor_id).first_name %> <%= n.action.html_safe %>
              </a> -->
            <%# end %>

            <!-- notification created date -->

            <%# if 1.minute.ago < n.created_at %>
<!--               <span class="text-grey p-small mt-05"><%#= pluralize(((Time.now - n.created_at.to_time) / 1.second).to_i, 'second') %> ago</span>
            <%# elsif 1.hour.ago < n.created_at %>
              <span class="text-grey p-small mt-05"><%#= pluralize(((Time.now - n.created_at.to_time) / 1.minute).to_i, 'minute') %> ago</span>
            <%# elsif 1.day.ago < n.created_at %>
              <span class="text-grey p-small mt-05"><%#= pluralize(((Time.now - n.created_at.to_time) / 1.hour).to_i, 'hour') %> ago</span>
            <%# elsif 1.week.ago < n.created_at %>
              <span class="text-grey p-small mt-05"><%#= pluralize(((Time.now - n.created_at.to_time) / 1.day).to_i, 'day') %> ago</span>
            <%# elsif 1.month.ago < n.created_at %>
              <span class="text-grey p-small mt-05"><%#= pluralize(((Time.now - n.created_at.to_time) / 1.week).to_i, 'week') %> ago</span>
            <%# else %>
              <span class="text-grey p-small mt-05"><%#= pluralize(((Time.now - n.created_at.to_time) / 1.month).to_i, 'month') %> ago</span>
            <%# end %>

          </div>

          <div class="flex-cent ml-05"><span class="unread"></span></div>

        </li>
 -->
      <!-- if notification is read -->

      <%# else %>

<!--         <li class="notification">
          <div class="flex-col-start w-max">

            <%# if n.actor_id == 0 %>
              <span class="text-left"><%#= User.find(n.recipient_id).first_name %>, <%#= n.action.html_safe %></span>
            <%# else %>
              <span class="text-left"><%#= User.find(n.actor_id).first_name %> <%#= n.action.html_safe %></span> -->
            <%# end %>

            <!-- notification created date -->

            <%# if 1.minute.ago < n.created_at %>
<!--               <span class="text-grey p-small mt-05">read <%#= pluralize(((Time.now - n.created_at.to_time) / 1.second).to_i, 'second') %> ago</span>
            <%# elsif 1.hour.ago < n.created_at %>
              <span class="text-grey p-small mt-05">read <%#= pluralize(((Time.now - n.created_at.to_time) / 1.minute).to_i, 'minute') %> ago</span>
            <%# elsif 1.day.ago < n.created_at %>
            <span class="text-grey p-small mt-05">read <%#= pluralize(((Time.now - n.created_at.to_time) / 1.hour).to_i, 'hour') %> ago</span>
            <%# elsif 1.week.ago < n.created_at %>
              <span class="text-grey p-small mt-05">read <%#= pluralize(((Time.now - n.created_at.to_time) / 1.day).to_i, 'day') %> ago</span>
            <%# elsif 1.month.ago < n.created_at %>
              <span class="text-grey p-small mt-05">read <%#= pluralize(((Time.now - n.created_at.to_time) / 1.week).to_i, 'week') %> ago</span>
            <%# else %>
              <span class="text-grey p-small mt-05">read <%#= pluralize(((Time.now - n.created_at.to_time) / 1.month).to_i, 'month') %> ago</span> -->
            <%# end %>

       <!--    </div>
        </li> -->

      <%# end %>
    <%# end %>
  <%# end %>

</ul>
