<nav id="legallab-navbar" class="flex-bet-cent relative text-white">

  <%= link_to root_path(lang:params[:lang]) do %>
    <div id="legallab-logo">
      <%= svg('logo_i') %>
      <span class="mr-15"></span>
      <%= svg(t('navbar.logo')) %>
    </div>
  <% end %>

  <%= render "shared/navbar_components/menu" %>

  <div id="dropdown_ajaxified" class="scrollable"> <!-- AJAX DROPDOWN CALL --> </div>

  <div class="flex-cent p-rp-small">
    <%= link_to "FR", { lang:"fr" }, class: "text-white #{params["lang"] == 'fr' ? 'strong' : ''}" %>
    <span class="mr-05 ml-05"> - </span>
    <%= link_to "EN", { lang:"en" }, class: "text-white #{params["lang"] == 'en' || params["lang"].nil? ? 'strong' : ''}" %>

    <%= render "shared/navbar_components/responsive/menu" %>
  </div>

</nav>