<section class="h-max p-0 pt-100 flex-col-cent">
  <%= image_tag t('about.image_1'), class: "comics" %>
  <%= image_tag t('about.image_2'), class: "comics" %>
  <%= image_tag t('about.image_3'), class: "comics" %>
  <%= image_tag t('about.image_4'), class: "comics" %>
  <%= image_tag t('about.image_5'), class: "comics" %>
  <%= image_tag t('about.image_6'), class: "comics" %>
  <%= image_tag t('about.image_7'), class: "comics" %>
</section>