<section class="h-max p-0 pt-100 flex-col-cent">
  <%= image_tag 'comics/Ubisoft-YC-02.png' %>
  <%= image_tag 'comics/Ubisoft-YC-03.png' %>
  <%= image_tag 'comics/Ubisoft-YC-04.png' %>
  <%= image_tag 'comics/Ubisoft-YC-05.png' %>
  <%= image_tag 'comics/Ubisoft-YC-06.png' %>
  <%= image_tag 'comics/Ubisoft-YC-07.png' %>
  <%= image_tag 'comics/Ubisoft-YC-08.png' %>
</section>

<style>
  img {
    width: 80%;
    object-fit: cover;
    overflow: hidden;
    margin: 10px;
  }
</style>