<section class="h-max text-white main-background">
  
  <div class="flex-bet-cent">
    <h1 class="rp-small text-cent regular" style="font-size:2rem">Legal Operations</h1>
    <h1 class="rp-small text-cent text-black regular">Legal Tech</h1>
    <h1 class="rp-small text-cent regular">Awareness & Communication</h1>
  </div>

  <div class="flex-bet-cent">
    <h1 class="rp-small text-cent regular">Multidisciplinary</h1>
    <h1 class="rp-small text-cent text-yellow regular" style="font-size:3rem">Legal Design</h1>
    <h1 class="rp-small text-cent regular">Access to justice (A2J)</h1>
  </div>

  <div class="flex-bet-cent">
    <h1 class="rp-small text-cent text-black regular" style="font-size:2rem">Civic Tech</h1>
    <h1 class="rp-small text-cent regular">Innovation</h1>
    <h1 class="rp-small text-cent text-black regular">Education</h1>
    <h1 class="rp-small text-cent regular" style="font-size:2rem">Art</h1>
    <h1 class="rp-small text-cent text-black regular">Plain Langage</h1>
  </div>

  <div class="mt-100-rp-50">
  
    <h1><%= t('definition.definition_header') %></h1>

    <p class="p-rp-small"><%= t('definition.definition_para.first') %></p>
    <p class="mt-30 rp-small"><%= t('definition.definition_para.second') %></p>
    <p class="mt-30 rp-small"><%= t('definition.definition_para.third') %></p>
    <p class="mt-30 rp-small"><%= t('definition.definition_para.fourth') %></p>
    
  </div>

</section>

<section class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="m-0"><%= t('definition.stakes_header') %></h1>

    <div class="grid-container mt-50">
      <div class="item item-1 p-25 pointer active">
        <strong class="p-tall-rp-small"><%= t('definition.stake_1.header') %></strong>
        <span><%= t('definition.stake_1.span_1') %></span>
        <p><%= t('definition.stake_1.para_1') %></p>
        <p><%= t('definition.stake_1.para_2').html_safe %></p>  
      </div>

      <div class="item item-2 p-25 pointer">
        <strong class="p-tall-rp-small"><%= t('definition.stake_2.header') %></strong>
        <span><%= t('definition.stake_2.span_1') %></span>
        <p class="hidden"><%= t('definition.stake_2.para_1') %></p>
        <p class="hidden"><%= t('definition.stake_2.para_2').html_safe %></p>
      </div>

      <div class="item item-3 p-25 pointer">
        <strong class="p-tall-rp-small"><%= t('definition.stake_3.header') %></strong>
        <span><%= t('definition.stake_3.span_1') %></span>
        <p class="hidden"><%= t('definition.stake_3.para_1') %></p>
        <p class="hidden"><%= t('definition.stake_3.para_2').html_safe %></p>
      </div>

      <div class="item item-4 p-25 pointer">
        <strong class="p-tall-rp-small"><%= t('definition.stake_4.header') %></strong>
        <span><%= t('definition.stake_4.span_1') %></span>
        <p class="hidden"><%= t('definition.stake_4.para_1') %></p>
        <p class="hidden"><%= t('definition.stake_4.para_2').html_safe %></p>
      </div>

      <div class="item item-5 p-25 pointer">
        <strong class="p-tall-rp-small"><%= t('definition.stake_5.header') %></strong>
        <span><%= t('definition.stake_5.span_1') %></span>
        <p class="hidden"><%= t('definition.stake_5.para_1') %></p>
        <p class="hidden"><%= t('definition.stake_5.para_2').html_safe %></p>
      </div>

      <div class="item item-6 p-25 pointer">
        <strong class="p-tall-rp-small"><%= t('definition.stake_6.header') %></strong>
        <span><%= t('definition.stake_6.span_1') %></span>
        <p class="hidden"><%= t('definition.stake_6.para_1') %></p>
        <p class="hidden"><%= t('definition.stake_6.para_2').html_safe %></p>
      </div>
    </div>
  </div>

</section>
