<section class="h-max text-white main-background">
  
  <h1><%= t('home.vision_header') %></h1>

  <p class="p-rp-small"><%= t('home.vision_para') %></p>

  <h1 class="mt-50"><%= t('home.project_header') %></h1>

  <%= svg('filters') %>
  <span><%= t('home.filter') %></span>

  <p>[ --> MAP IN PROGRESS <-- ]</p>

  <div class="mt-100-rp-50 relative">
    <%= image_tag 'map/map.png', id: "map" %>

    <div class="absolute centered border-blue w-max h-max grid">
      <% 4.times do |i| %>
        <div class="border-black text-black relative">
          <div class="w-max h-max grid">

            <div class="absolute centered background-yellow index-1 radius-100 s-30 flex-cent">
              <%= i+1 %>
            </div>

            <% 4.times do |i| %>
              <div class="border-red text-black relative">
                <div class="absolute centered background-orange opacity-65 radius-100 s-60 flex-cent">
                  <%= i+1 %>
                </div>
              </div>
            <% end -%>

          </div>
        </div>
      <% end -%>
    </div>
  </div>

</section>

<style>
  .grid {
   display: grid;
   justify-content: center;
   grid-template-columns: repeat(2,1fr);
  }
</style>