<section class="h-max text-white main-background">
  
  <h1><%= t('home.vision_header') %></h1>

  <p class="p-rp-small"><%= t('home.vision_para') %></p>

  <h1 class="mt-50"><%= t('home.project_header') %></h1>

  <%= svg('filters') %>
  <span><%= t('home.filter') %></span>

  <p>[ --> MAP IN PROGRESS <-- ]</p>

  <div class="mt-100-rp-50 relative">
    <%= image_tag 'map/map.png', id: "map" %>

    <div class="absolute centered w-max h-max map-grid">
      <% 4.times do |index| %>
        <div class="relative">
          <div class="w-max h-max map-grid">
      
            <% 4.times do |i| %>
              <div class="relative">

                <% @markers.each do |coordinates,projects| %>                  
                  <% if index+1 == coordinates[0][0] && i+1 == coordinates[0][1] %>

                    <%= form_tag map_projects_call_path, method: :get, id: "map_projects_call", class: "modal-call absolute #{coordinates[1]}" do %>
                      <%= hidden_field_tag :projects_ids, projects %>

                      <%= button_tag class:"no-background p-0" do %>
                        <div class="radius-100 s-60-rp-30 flex-cent background-orange opacity-65">
                        </div>
                      <% end %>
                    <% end %>

                  <% end -%>
                <% end -%>
                
              </div>
            <% end -%>

          </div>
        </div>
      <% end -%>
    </div>
  </div>

</section>
