<section class="h-max text-white main-background">
  
  <h1><%= t('home.vision_header') %></h1>

  <p class="p-rp-small"><%= t('home.vision_para') %></p>

  <h1 class="mt-50"><%= t('home.project_header') %></h1>

  <%#= svg('filters') %>
  <!-- <span><%#= t('home.form.filter') %></span> -->

  <%= render "ajax/ajax_forms/map_projects" %>

  <div class="mt-100-rp-50 relative" id="ajaxified_partial">
    <%= render "ajax/ajax_results/map_projects" %>
  </div>

</section>
