<section class="h-max text-white main-background">
  
  <h1><%= t('home.vision_header') %></h1>

  <p class="p-rp-small"><%= t('home.vision_para') %></p>

  <h1 class="mt-50"><%= t('home.project_header') %></h1>

  <%= svg('filters') %>
  <span><%= t('home.filter') %></span>

  <p>[ --> MAP IN PROGRESS <-- ]</p>

  <div class="mt-100-rp-50 relative">
    <%= image_tag 'map/map.png', id: "map" %>

    <div class="absolute centered w-max h-max map-grid">
      <% 4.times do |index| %>
        <div class="relative">
          <div class="w-max h-max map-grid">
      
            <% 4.times do |i| %>
              <div class="relative">

                <% @markers.each do |key,val| %>                  

                  <% if index+1 == key[0][0] && i+1 == key[0][1] %>
                    <div class="absolute radius-100 s-60-rp-30 flex-cent background-orange opacity-65 <%= key[1] %>" data-projects="<%= val %>">
                    </div>
                  <% end -%>

                <% end -%>
                
              </div>
            <% end -%>

          </div>
        </div>
      <% end -%>
    </div>
  </div>

</section>