<section class="h-max text-white main-background">
  
  <h1><%= t('home.vision_header') %></h1>

  <p class="p-rp-small"><%= t('home.vision_para') %></p>

  <h1 class="mt-50"><%= t('home.project_header') %></h1>

  <%= svg('filters') %>
  <span><%= t('home.filter') %></span>

  <p>[ --> MAP IN PROGRESS <-- ]</p>

  <%= image_tag 'png/map.png', id: "map", class:"mt-100-rp-50" %>

</section>
