<%= content_for :meta_title, "#{DEFAULT_META["meta_title"]} - Join Us" %>

<section class="h-max text-white main-background">
  
  <%= form_for @requester, url: new_requester_path, method: :post, html: { class:"flex-col-cent wmax-800-rp-300 m-auto" } do |f| %>
    <%= hidden_field_tag :lang, params[:lang] %>

    <div class="flex-bet-cent-rp-col w-max mb-30">
      <div class="flex-col-start w-max pr-50-rp-0">
        <%= f.label :last_name, t('join.last_name'), class:"strong p-tall-rp-p mb-05" %>
        <%= f.text_field :last_name, class:"w-max radius-05", placeholder:"Jane", value:params[:last_name] %>
        
        <% if flash["errors"] && flash["errors"]["last_name"] %>
          <span class="text-red p-small"><%= params[:lang] == "fr" ? "Ce champ est obligatoire." : "It can't be blank." %></span>
        <% end -%>
      </div>

      <div class="flex-col-start w-max pl-50-rp-0">
        <%= f.label :first_name, t('join.first_name'), class:"strong p-tall-rp-p mb-05" %>
        <%= f.text_field :first_name, class:"w-max radius-05", placeholder:"Doe", value:params[:first_name] %>
        
        <% if flash["errors"] && flash["errors"]["first_name"] %>
          <span class="text-red p-small"><%= params[:lang] == "fr" ? "Ce champ est obligatoire." : "It can't be blank." %></span>
        <% end -%>
      </div>
    </div>

    <div class="flex-col-start w-max mb-30">
      <%= f.label :email, t('join.email'), class:"strong p-tall-rp-p mb-05" %>
      <%= f.text_field :email, class:"w-max radius-05", placeholder:"jane.doe@legaldesign.com", value:params[:email] %>
      
      <% if flash["errors"] && flash["errors"]["email"] %>
        <span class="text-red p-small"><%= params[:lang] == "fr" ? "Votre email n'est pas au bon format." : "It seems your email is not in the right format." %></span>
      <% end -%>
    </div>

    <div class="flex-bet-cent-rp-col w-max mb-30">
      <div class="flex-col-start w-max pr-50-rp-0">
        <%= f.label :country, t('join.country'), class:"strong p-tall-rp-p mb-05" %>
        <%= f.text_field :country, class:"w-max radius-05", value:params[:country] %>
      </div>

      <div class="flex-col-start w-max pl-50-rp-0">
        <%= f.label :job_title, t('join.job_title'), class:"strong p-tall-rp-p mb-05" %>
        <%= f.text_field :job_title, class:"w-max radius-05", value:params[:job_title] %>
      </div>
    </div>

    <div class="flex-col-start w-max mb-30">
      <h2 class="m-0 mb-15 rp-auto"><%= t('join.how_join') %></h2>

      <%= f.radio_button :reason, t('join.reason_1'), id: "reason_1", class:"circle-ux-radio", 
        checked: params[:reason] == t('join.reason_1') ? true : false %>
      <%= f.label :reason, t('join.reason_1'), for: "reason_1", class:"p-rp-small white" %>

      <%= f.radio_button :reason, t('join.reason_2'), id: "reason_2", class:"circle-ux-radio", 
        checked: params[:reason] == t('join.reason_2') ? true : false %>
      <%= f.label :reason, t('join.reason_2'), for: "reason_2", class:"p-rp-small white" %>

      <%= f.radio_button :reason, t('join.reason_3'), id: "reason_3", class:"circle-ux-radio", 
        checked: params[:reason] == t('join.reason_3') ? true : false %>
      <%= f.label :reason, t('join.reason_3'), for: "reason_3", class:"p-rp-small white" %>

      <% if flash["errors"] && flash["errors"]["reason"] %>
        <span class="text-red p-small"><%= params[:lang] == "fr" ? "Veuillez sélectionner une option." : "Choose an option." %></span>
      <% end -%>
    </div>

    <div class="flex-col-start w-max mb-30">
      <%= f.label :message, t('join.message'), class:"strong p-tall-rp-p mb-05" %>
      <%= f.text_area :message, class:"w-max radius-05", rows:"8", placeholder:". . .", value:params[:message] %>

      <% if flash["errors"] && flash["errors"]["message"] %>
        <span class="text-red p-small"><%= params[:lang] == "fr" ? "Ce champ est obligatoire." : "It can't be blank." %></span>
      <% end -%>
    </div>

    <div class="flex-col-start w-max mb-30">
      <%= f.check_box :consent, class:"square-ux-checkbox" %>
      <%= f.label :consent, t('join.consent'), class:"p-rp-small white" %>

      <p class="p-small"><%= t('join.privacy_notice.short') %> <%= link_to "here", privacy_notice_path(lang:params[:lang] || I18n.default_locale), class: "text-black" %>.</p>

      <% if flash["errors"] && flash["errors"]["consent"] %>
        <span class="text-red p-small"><%= params[:lang] == "fr" ? "Ce option est manquante" : "This option is missing." %></span>
      <% end -%>
    </div>

    <%= f.submit t('join.send'), class: "main-btn w-max radius-05 strong p-auto" %>

  <% end %>

</section>