<section class="h-vh-calc-footer-rp-max main-background flex-col-cent-start">
	
	<span><%= svg('ubisoft_white_100') %></span>

	<h1 class="text-white m-0"><%= t('footer.legal_notices') %></h1>

	<div class="background-white p-50-rp-25 mt-25 p-small">
		<p class="m-0"><%= t('legal_notices.para_1') %></p>

		<p class="m-0"><%= t('legal_notices.para_2') %></p>

		<p class="m-0"><%= t('legal_notices.para_3') %></p>

		<p class="m-0"><%= t('legal_notices.para_4') %> <%= link_to "http://support.ubi.com", "http://support.ubi.com", class:"text-blue", target:"_blank" %></p>

		<p class="m-0"><%= t('legal_notices.para_5') %> 01 57 32 44 55</p>

		<p class="m-0">© Ubisoft Entertainment. All Rights Reserved. Ubisoft and the Ubisoft logo are trademarks of Ubisoft Entertainment in the U.S. and/or other countries.</p>

		<p class="m-0">© 2014-2022 SAS. YOUR-COMICS - All Rights Reserved</p>
	</div>

</section>