<section class="h-max main-background relative">

	<div class="w-m flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
		
		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-left background-white radius-25 p-0-30"><%= t('perspectives.date.first') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.first') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-right background-white radius-25 p-0-30"><%= t('perspectives.date.second') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.second') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.third') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-left background-white radius-25 p-0-30"><%= t('perspectives.date.third') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.fourth') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-right background-white radius-25 p-0-30"><%= t('perspectives.date.fourth') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.fifth') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-left background-white radius-25 p-0-30"><%= t('perspectives.date.fifth') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.sixth') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-right background-white radius-25 p-0-30"><%= t('perspectives.date.sixth') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.seventh') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-left background-white radius-25 p-0-30"><%= t('perspectives.date.seventh') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.eighth') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-right background-white radius-25 p-0-30"><%= t('perspectives.date.eighth') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.ninth') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-left background-white radius-25 p-0-30"><%= t('perspectives.date.ninth') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.tenth') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.eleventh') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-right background-white radius-25 p-0-30"><%= t('perspectives.date.tenth') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.twelfth') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="border-white w-2 absolute centered rp-hidden" style="height: 127%;"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span class="absolute above-left background-white radius-25 p-0-30"><%= t('perspectives.date.eleventh') %></span>
			<p class="p-rp-small"><%= t('perspectives.timeline.thirteenth') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.fourthteenth') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.fifthteenth') %></p>
		</div>
	</div>

	<span class="absolute background-white radius-25 text-cent w-400" style="bottom: -30px; left: 50%; transform: translate(-50%, -50%);">
		<%= t('perspectives.timeline.end') %>
	</span>

</section>

<section class="h-max padding-y text-black background-orange">

  <div class="pt-50 pb-50">
    <h1 class="m-0">[ --> TRANSLATION IN PROGRESS <-- ]</h1>
  </div>

</section>