<section class="h-max main-background relative">

	<div class="w-m flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
		
		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.first') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.first') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.second') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.second') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.third') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.third') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.fourth') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.fourth') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.fifth') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.fifth') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.sixth') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.sixth') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.seventh') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.seventh') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.eighth') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.eighth') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.ninth') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.ninth') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.tenth') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.eleventh') %></p>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.tenth') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.twelfth') %></p>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="border-white w-2 absolute centered rp-hidden" style="height: 127%;"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.eleventh') %>
			</span>
			<p class="p-rp-small"><%= t('perspectives.timeline.thirteenth') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.fourthteenth') %></p>
			<p class="p-rp-small"><%= t('perspectives.timeline.fifthteenth') %></p>
		</div>
	</div>

	<span class="absolute background-white radius-25 text-cent w-400-rp-300" style="bottom: -30px; left: 50%; transform: translate(-50%, -50%);">
		<%= t('perspectives.timeline.end') %>
	</span>

</section>

<section class="h-max padding-y text-black background-orange">

  <div class="pt-50-rp-15 pb-50-rp-15">
    
    <p class="rp-small"><%= t('perspectives.jp_article.first_block.para_1') %></p>
    <p class="rp-small"><%= t('perspectives.jp_article.first_block.para_2') %></p>

    <h1><%= t('perspectives.jp_article.first_block.header') %></h1>

    <p class="rp-small"><%= t('perspectives.jp_article.first_block.para_3') %></p>
    <p class="rp-small"><%= t('perspectives.jp_article.first_block.para_4') %></p>
    <p class="mb-0 rp-small"><%= t('perspectives.jp_article.first_block.para_5') %></p>

  </div>

</section>

<section class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    
    <h1 class="mt-0"><%= t('perspectives.jp_article.second_block.header') %></h1>
    
    <p class="rp-small"><%= t('perspectives.jp_article.second_block.para_1') %></p>
    <p class="rp-small"><%= t('perspectives.jp_article.second_block.para_2') %></p>
    <p class="rp-small"><%= t('perspectives.jp_article.second_block.para_3').html_safe %></p>
    <p class="rp-small"><%= t('perspectives.jp_article.second_block.para_4') %></p>
    <p class="mb-0 rp-small"><%= t('perspectives.jp_article.second_block.para_5') %></p>

  </div>

</section>

<section class="h-max padding-y text-black background-orange">

  <div class="pt-50-rp-15 pb-50-rp-15">
    
    <h1 class="mt-0"><%= t('perspectives.jp_article.third_block.header') %></h1>

    <ul>
    	<li><%= t('perspectives.jp_article.third_block.list_1') %></li>
    	<li><%= t('perspectives.jp_article.third_block.list_2') %></li>
    	<li><%= t('perspectives.jp_article.third_block.list_3') %></li>
    	<li><%= t('perspectives.jp_article.third_block.list_4') %></li>
    </ul>

    <p class="rp-small"><%= t('perspectives.jp_article.third_block.para_1').html_safe %></p>
    <p class="mb-0 rp-small"><%= t('perspectives.jp_article.third_block.para_2') %></p>

  </div>

</section>

<section class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    
    <h1 class="mt-0"><%= t('perspectives.jp_article.fourth_block.header') %></h1>
    
    <ul class="mb-0 rp-small">
    	<li><%= t('perspectives.jp_article.fourth_block.list_1') %></li>
    	<li><%= t('perspectives.jp_article.fourth_block.list_2') %></li>
    </ul>

  </div>

</section>

<section class="h-max padding-y text-black background-orange">

  <div class="pt-50-rp-15 pb-50-rp-15">
    
    <h1 class="mt-0"><%= t('perspectives.jp_article.fifth_block.header') %></h1>

    <ul class="mb-0 rp-small">
    	<li><%= t('perspectives.jp_article.fifth_block.list_1') %></li>
    	<li><%= t('perspectives.jp_article.fifth_block.list_2') %></li>
    	<li><%= t('perspectives.jp_article.fifth_block.list_3') %></li>
    </ul>

  </div>

</section>

<section class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    
    <h1 class="mt-0"><%= t('perspectives.jp_article.sixth_block.header') %></h1>
    
    <div class="flex-col">
    	<span><%= t('perspectives.jp_article.sixth_block.name') %></span>
    	<span><%= t('perspectives.jp_article.sixth_block.occupation') %></span>
    </div>

  </div>

</section>