<section class="h-vh-calc-footer-midrp-max main-background flex-col-cent-start">
	
	<span><%= svg('ubisoft_white_100') %></span>

	<h1 class="text-white m-0"><%= t('footer.privacy_notice') %></h1>

	<div class="background-white p-50-rp-25 mt-25 p-small">
		<p><%= t('privacy_notice.para_1') %></p>

		<p><%= t('privacy_notice.para_2') %></p>

		<p><%= t('privacy_notice.para_3') %></p>

		<p><%= t('privacy_notice.para_4') %></p>

		<p><%= t('privacy_notice.para_5').html_safe %></p>

		<p><%= t('privacy_notice.para_6').html_safe %></p>

		<p>© Ubisoft Entertainment. All Rights Reserved. Ubisoft and the Ubisoft logo are trademarks of Ubisoft Entertainment in the U.S. and/or other countries.</p>
	</div>

</section>