<%= content_for :meta_title, "#{DEFAULT_META["meta_title"]} - #{@project.title}" %>

<section class="h-max main-background">
	
	<div class="flex-col-cent background-white border-orange w-5 radius-50 m-auto w-600-rp-300 p-05">
		<h1 class="m-0 text-cent rp-auto"><%=sanitize @project.title.upcase %></h1>
		<strong class="p-tall-rp-p"><em>by <%=sanitize @project.company %></em></strong>
	</div>

  <div class="flex-cent mt-10">
    <%= link_to t('project.printable'), project_path(@project, format:"pdf"), id:"printable", class:"main-btn", "data-project" => @project.id, "data-lang" => params[:lang] || "en" %>

    <% if @project.website %>
      <%= link_to t('project.website'), @project.website, class:"blue-btn ml-20" %>
    <% end %>
  </div>

	<div class="text-white rp-small mt-30 text-cent"><%= @version.long_description if @version %></div>

	<div class="flex-cent mt-30">
		<%=sanitize cl_image_tag @project.imagery.key, class:"img-fit" %>
	</div>

</section>

<section id="question_one" class="h-max padding-y text-white main-background">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_one') %></h1>  
	  <div class="rp-small"><%= @version.question_one if @version %></div>
  </div>

</section>

<section id="question_two" class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_two') %></h1>  
	  <div class="rp-small"><%= @version.question_two if @version %></div>
  </div>

</section>

<section id="question_three" class="h-max padding-y text-white main-background">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_three') %></h1>  
	  <div class="rp-small"><%= @version.question_three if @version %></div>
  </div>

</section>

<section id="question_four" class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_four') %></h1>  
	  <div class="rp-small"><%= @version.question_four if @version %></div>
  </div>

</section>

<section id="question_five" class="h-max padding-y text-white main-background">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_five') %></h1>  
	  <div class="rp-small"><%= @version.question_five if @version %></div>
  </div>

</section>

<section id="question_six" class="h-max padding-y text-white background-black">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_six') %></h1>  
	  <div class="rp-small"><%= @version.question_six if @version %></div>
  </div>

</section>

<section id="question_seven" class="h-max padding-y text-white main-background">

  <div class="pt-50-rp-15 pb-50-rp-15">
    <h1 class="mt-0 rp-auto"><%= t('project.question_seven') %></h1>  
	  <div class="rp-small"><%= @version.question_seven if @version %></div>
  </div>

  <% if @project.copyright %>
    <p class="m-0">Copyright : <%= @project.copyright %></p>
  <% end %>

  <% if @project.credits %>
    <p class="m-0">Credits : <%= @project.credits %></p>
  <% end %>

  <% if @project.licence %>
    <p class="m-0">Licence : <%= @project.licence %></p>
  <% end %>
</section>

