<section class="h-max text-white main-background">
  
  <p class="break-word rp-small">Buchanan, Richard. 2001. “Human Dignity and Human Rights: Thoughts on the Principles of Human-Centered Design.” Design Issues 17 (3): 302–7.</p>

  <p class="break-word rp-small">Curtotti, Michael, Haapio, Helena, & Passera, Stefania. 2015.“Interdisciplinary Cooperation in Legal Design and Communication.” In: Schweighofer E. et al. (Eds.) Co-operation. Proceedings of the 18th International Legal Informatics Symposium IRIS 2015. Österreichische Computer Gesellschaft, pp. 455–462 <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2630953", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2630953", class:"text-black", target:"_blank" %>.</p>

  <p class="break-word rp-small">Ducato, Rossana. 2018. “House of Terms: Fixing the Information Paradigm with Legal Design.” Poster presentation at BILETA Conference 2018 “Digital Futures: places and people, technology and data”, University of Aberdeen, 10-11 April 2018.  <%= link_to "https://ssrn.com/abstract=31569223", "https://ssrn.com/abstract=31569223", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Haapio, Helena, and Margaret Hagan. 2016. “Design Patterns for Contracts.” Internationales Rechtsinformatik Symposion IRIS 388 (February): 8. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2747280", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2747280", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Haapio, Helena, Margaret Hagan, Monica Palmirani, and Arianna Rossi. 2018. “Legal Design Patterns for Privacy.” In Data Protection / LegalTech. Proceedings of the 21th International Legal Informatics Symposium IRIS, edited by Erich Schweighofer et Al., 445–50. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3144250", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3144250", class:"text-black", target:"_blank" %>.</p>

  <p class="break-word rp-small">Haapio, Helena, Daniela Alina Plewe, and Robert de Rooy. 2016. “Next Generation Deal Design: Comics and Visual Platforms for Contracting.” Internationales Rechtsinformatik Symposion IRIS 380 (February): 8. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2747821", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2747821", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Hagan, Margaret, and Miso Kim. 2018. “Design for Dignity and Procedural Justice.” In Advances in Intelligent Systems and Computing, 585:135–45. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2994354", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2994354", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Hagan, Margaret D. 2018. “A Human-Centered Design Approach to Access to Justice Generating New Prototypes and Hypotheses for Intervention to Make Courts User-Friendly.” Indiana Journal of Law and Social Equality 6 (2): 199–239.  <%= link_to "https://www.repository.law.indiana.edu/cgi/viewcontent.cgi?article=1083&context=ijlse", "https://www.repository.law.indiana.edu/cgi/viewcontent.cgi?article=1083&context=ijlse", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Hagan, Margaret. 2018. “Justice Innovation with Law School Design Labs.” ABA Dialogue. <%= link_to "https://www.americanbar.org/groups/legal_services/publications/dialogue/volume/21/spring-2018/iolta-design-labs.html", "https://www.americanbar.org/groups/legal_services/publications/dialogue/volume/21/spring-2018/iolta-design-labs.html", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Hagan, Margaret. 2016. “User-Centered Privacy Communication Design.” In Symposium on Usable Privacy and Security (SOUPS), 1–7. <%= link_to "https://ssrn.com/abstract=2981075", "https://ssrn.com/abstract=2981075", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Hagan, Margaret. 2016. “The User Experience of the Internet as a Legal Help Service : Defining Standards for the next Generation of User-Friendly Online Legal Services.” Va. JL & Tech. 20 (2): 395–465. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2942478", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2942478", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Hagan, Margaret. 2013-ongoing. “Law by Design”. <%= link_to "http://www.lawbydesign.co/en/home", "http://www.lawbydesign.co/en/home", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Jackson, Dan. 2016. “Human-Centered Legal Tech: Integrating Design in Legal Education.” Law Teacher 50 (1): 82–97. <%= link_to "http://www.nulawlab.org/view/human-centered-legal-tech-integrating-design-in-legal-education", "http://www.nulawlab.org/view/human-centered-legal-tech-integrating-design-in-legal-education", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Junginger, Sabine. 2013. “Design and Innovation in the Public Sector: Matters of Design in Policy-Making and Policy Implementation.” Annual Review of Policy Design 1 (1): 1–11.<%= link_to "https://www.researchgate.net/publication/271210543/download", "https://www.researchgate.net/publication/271210543/download", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Mitchell, Jay A. 2013. “Putting Some Product into Work-Product: Corporate Lawyers Learning from Designers.” SSRN. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2325683", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2325683", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Palmirani, Monica, Arianna Rossi, Michele Martoni, and Margaret Hagan. 2018. “A Methodological Framework to Design a Machine-Readable Privacy Icon Set.” In Data Protection / LegalTech Proceedings of the 21st International Legal Informatics Symposium IRIS. <%= link_to "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3195937", "https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3195937", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Passera, Stefania. 2018. “Flowcharts, Swimlanes, and Timelines: Alternatives to Prose in Communicating Legal–Bureaucratic Instructions to Civil Servants.” Journal of Business and Technical Communication 32 (2): 229–72. <%= link_to "https://aaltodoc.aalto.fi/bitstream/handle/123456789/27292/article3.pdf?sequence=6&isAllowed=y", "https://aaltodoc.aalto.fi/bitstream/handle/123456789/27292/article3.pdf?sequence=6&isAllowed=y", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Passera, Stefania, Kankaanranta, Anne, & Louhiala-Salminen, Leena. 2017.“Diagrams in Contracts: Fostering Understanding in Global Business Communication.” IEEE Transactions of Professional Communication. Vol.60, n.2, <%= link_to "https://aaltodoc.aalto.fi/bitstream/handle/123456789/27292/article4.pdf?sequence=7&isAllowed=y", "https://aaltodoc.aalto.fi/bitstream/handle/123456789/27292/article4.pdf?sequence=7&isAllowed=y", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Passera, Stefania, and Helena Haapio. 2013. “Transforming Contracts from Legal Rules to User-Centered Communication Tools: A Human-Information Interaction Challenge.” Communication Design Quarterly, no. April: 38–45. <%= link_to "https://dl.acm.org/citation.cfm?id=2466498", "https://dl.acm.org/citation.cfm?id=2466498", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Passera, Stefania, Haapio, Haapio, Curtotti, Michael. 2014. “Making The Meaning of Contracts Visible – Automating Contract Visualization.” In: Schweighofer E. et al. (Eds.) Transparency. Proceedings of the 18th International Legal Informatics Symposium IRIS 2014. Österreichische Computer Gesellschaft, pp. 443–450. Passera, Stefania, Helena Haapio, and Thomas D Barton. 2012. “Innovating Contract Practices: Merging Contract Design with Information Design.” CWSL Scholarly Commons, 1–23. <%= link_to "http://scholarlycommons.law.cwsl.edu/fs", "http://scholarlycommons.law.cwsl.edu/fs", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Perry-Kessaris, Amanda (Forthcoming 2019) Legal Design for Practice, Activism, Policy and Research 46:2 Journal of Law and Society. Available at SSRN: <%= link_to "https://ssrn.com/abstract=3295671", "https://ssrn.com/abstract=3295671", class:"text-black", target:"_blank" %> or <%= link_to "http://dx.doi.org/10.2139/ssrn.3295671", "http://dx.doi.org/10.2139/ssrn.3295671", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Quintanilla, Victor D. 2018. “Human-Centered Civil Justice Design.” Penn State Law Review 121 (3). Accessed February 3.<%= link_to "http://www.pennstatelawreview.org/wp-content/uploads/2017/05/Article-3.3-Quintanilla-Final.pdf", "http://www.pennstatelawreview.org/wp-content/uploads/2017/05/Article-3.3-Quintanilla-Final.pdf", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Szabo, Mark. 2010. “Design Thinking in Legal Practice Management.” Design Management Review 21 (3): 44–46. <%= link_to "https://www.researchgate.net/publication/264251571_Design_Thinking_in_Legal_Practice_Management", "https://www.researchgate.net/publication/264251571_Design_Thinking_in_Legal_Practice_Management", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Waller, Roberts, Haapio, Helena, & Passera, Stefania. 2017. “Contract simplification: the why and the how.” IACCM Contracting Excellence Journal, 24 July 2017. <%= link_to "https://journal.iaccm.com/contracting-excellence-journal/contract-simplification-the-why-and-the-how", "https://journal.iaccm.com/contracting-excellence-journal/contract-simplification-the-why-and-the-how", class:"text-black", target:"_blank" %></p>

  <p class="break-word rp-small">Young, Jamie. 2011. “A Virtual Day in Court: Design Thinking and Virtual Courts.” <%= link_to "https://www.cep-probation.org/wp-content/uploads/2015/03/DUTT-Summary-RSA-Project-A-Virtual-Day-in-Court.pdf", "https://www.cep-probation.org/wp-content/uploads/2015/03/DUTT-Summary-RSA-Project-A-Virtual-Day-in-Court.pdf", class:"text-black", target:"_blank" %></p>

</section>