<%= content_for :meta_title, "#{DEFAULT_META["meta_title"]} - Timeline" %>

<section class="h-max main-background relative">

	<nav class="mb-50">
		<ul class="no-padding unstyle-list flex-start-rp-col p-rp-small" id="int_nav">
			<li><%= link_to t('perspectives.timeline.path'), perspectives_timeline_path, class:"#{params["action"] == 'timeline' ? 'active' : ''}" %></li>
			<li><%= link_to t('perspectives.jp_article.path'), perspectives_article_path, class:"#{params["action"] == 'article' ? 'active' : ''}" %></li>
		</ul>
	</nav>

	<p class="p-rp-small text-white mb-100"><%= t('perspectives.timeline.para_intro').html_safe %></p>

	<div class="w-m flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
		
		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 25%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.first') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.first_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.first_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "https://www.piggin.net/plold/arborJuris.htm", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: -5%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.second') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.second_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.second_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "https://www.cairn-int.info/article-E_RMA_132_0273--a-singular-way-of-displaying-laws-and-cu.html", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.third') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.third_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.third_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "https://www.gla.ac.uk/myglasgow/library/files/special/exhibns/month/aug2001.html", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.fourth') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.fourth_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.fourth_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "https://www.basicknowledge101.com/pdf/km/Design%20thinking.pdf", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.fifth') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.fifth_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.fifth_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "http://candychang.com/work/street-vendor-guide/", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.sixth') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.sixth_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.sixth_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "https://www.legaltechdesign.com/", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.seventh') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.seventh_title') %></strong>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.eighth') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.eighth_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.eighth_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "https://www.ideo.com/case-study/a-new-way-to-vote-for-the-people-of-los-angeles", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.ninth') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.ninth_title') %></strong>
			<p class="p-rp-small"><%= t('perspectives.timeline.ninth_para').html_safe %></p>

			<div class="w-max text-right p-small">
				<%= link_to "http://www.legaldesignsummit.com/", target:"_blank", class:"text-black" do %>
					<%= t('perspectives.timeline.read') %>
					<i class="fas fa-plus-circle text-white"></i>
				<% end %>
			</div>

			<strong class="p-rp-small"><%= t('perspectives.timeline.ninth_title_2') %></strong>
		</div>
	</div>

	<div class="w-max flex relative">
		<div class="h-max border-white w-2 absolute centered rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; right: 0%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.tenth') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.tenth_title') %></strong>
		</div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 p-25 rp-hidden"></div>
	</div>

	<div class="w-max flex relative">
		<div class="border-white w-2 absolute centered rp-hidden" style="height: 127%;"></div>

		<div class="flex-1 p-25 rp-hidden"></div>

		<div class="background-white s-30 radius-100 mr-50 ml-50 rp-hidden"></div>

		<div class="flex-1 background-orange p-25 radius-25 relative rp-mb-30">
			<span style="top: 0; left: 15%; transform: translate(-50%, -50%);" class="absolute background-white radius-25 p-0-30">
				<%= t('perspectives.date.eleventh') %>
			</span>
			<strong class="p-rp-small"><%= t('perspectives.timeline.eleventh_title') %></strong>
			<ul class="p-rp-small"><%= t('perspectives.timeline.eleventh_para').html_safe %></ul>
		</div>
	</div>

</section>