<ul id="legallab-menu" class="flex-evn-cent unstyle-list no-padding w-max">
	<li class="text-cent"><%= link_to t('navbar.issue'), root_path, class: "text-white" %></li>
	<li class="text-cent"><%= link_to t('navbar.perspectives'), perspectives_path, class: "text-white" %></li>
	<li class="text-cent"><%= link_to t('navbar.resources'), resources_path, class: "text-white" %></li>
	<li class="text-cent"><%= link_to t('navbar.join'), join_path, class: "text-white" %></li>
	<li class="text-cent"><%= link_to t('navbar.about'), about_path, class: "text-white" %></li>
</ul>

