<ul id="legallab-menu" class="flex-evn-cent unstyle-list no-padding w-max">
	<li class="text-cent">
		<%= link_to t('navbar.definition'), 
		definition_path(lang:params[:lang] || I18n.default_locale), 
		class: "#{params[:action] == "definition" ? 'text-black background-orange' : 'text-white'}" %>
	</li>

	<li class="text-cent">
		<%= link_to t('navbar.perspectives'), 
		perspectives_timeline_path(lang:params[:lang] || I18n.default_locale), 
		class: "#{params[:action] == "perspectives" ? 'text-black background-orange' : 'text-white'}" %>
	</li>

	<li class="text-cent">
		<%= link_to t('navbar.resources'), 
		resources_path(lang:params[:lang] || I18n.default_locale), 
		class: "#{params[:action] == "resources" ? 'text-black background-orange' : 'text-white'}" %>
	</li>

	<li class="text-cent">
		<%= link_to t('navbar.join'), 
		join_path(lang:params[:lang] || I18n.default_locale), 
		class: "#{params[:action] == "join" ? 'text-black background-orange' : 'text-white'}" %>
	</li>

	<li class="text-cent">
		<%= link_to t('navbar.about'), 
		about_path(lang:params[:lang] || I18n.default_locale), 
		class: "#{params[:action] == "about" ? 'text-black background-orange' : 'text-white'}" %>
	</li>
</ul>

