<nav id="legallab-navbar" class="flex-bet-cent bg-white bottom-ml-box-shadow relative">

  <%= link_to root_path(lang:params[:lang]) do %>
    <div id="legallab-logo">
      <%= svg('logo_i') %>
      <span class="mr-15"></span>
      <%= svg('logo_t_en') %>
    </div>
  <% end %>

  <div id="dropdown_ajaxified" class="scrollable"> <!-- AJAX DROPDOWN CALL --> </div>

  <%= form_tag admin_nav_call_path, method: :get, id: "admin_nav_call", class: "dropdown-call" do %>
    <%= hidden_field_tag :lang, params[:lang] || I18n.default_locale %>
    <%= hidden_field_tag :location, params[:action] %>
    <%= hidden_field_tag :slug, @slug %>

    <%= button_tag :submit, class: "pad-orange p-small" do %>
      <span>ADMIN (<%= current_user ? current_user.email.split('@').first : "hello" %>)</span>
    <% end %>

  <% end %>

</nav>

