<!DOCTYPE html>
<html>
  <head>
    <title>LDC | Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>

    <link href="https://res.cloudinary.com/legallab-ubisoft/image/upload/v1639066428/Calque_2_vmdplf.png" rel="icon" type="image/png" sizes='32x32'>
    <link href="https://res.cloudinary.com/legallab-ubisoft/image/upload/v1639066428/Calque_2_vmdplf.png" rel="shortcut icon" type="image/png" sizes='32x32'>
  </head>

  <body>
    <%= render 'shared/admin/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
